body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a2e; 
    color: #e9ecef;           
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: #0f3460;
    padding: 20px 0;
    border-bottom: 2px solid #00ff88;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-panel input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #444;
    background: #1a1a2e;
    color: white;
}

.cart-status {
    font-weight: bold;
    color: #00ff88; 
}

.hero {
    text-align: center;
    padding: 40px 0;
}

.hero h2 {
    color: #00ff88;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    min-height: 200px;
}

.product-card {
    background: #16213e;   
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.product-btn {
    background: #00ff88;     
    color: #000;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}
    /* дизвйн для карточки*/
        .product-img {
            width: 100px;
            height: 100px;
            object-fit: contain;
            margin-bottom: 15px;
        }

        .price {
            font-size: 1.2rem;
            font-weight: bold;
            color: #00ff88;
            margin: 10px 0;
        }

        .product-card h3 {
            margin: 10px 0;
            color: #fff;
        }

        .product-card p {
            font-size: 0.9rem;
            color: #bdc3c7;
        }
