body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a2e; 
    color: #e9ecef;           
    margin: 0;
}
#main-title {
    font-family: 'Great Vibes', cursive;
    font-size: 45px; 
    color: #00ff88;  
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: #0f3460;
    padding: 20px 0;
    border-bottom: 2px solid #00ff88;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-panel input {
    padding: 9px;
    border-radius: 10px;
    border: 1px solid #00ff88;
    background: #1a1a2e;
    color: white;
    width: 220px;
    text-align: center;

}

.cart-status {
    font-weight: bold;
    color: #00ff88; 
}

.hero {
    text-align: center;
    padding: 40px 0;
}

.hero h2 {
    color: #00ff88;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    min-height: 200px;
}

.product-card {
    background: #16213e;   
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.product-btn {
    background: #00ff88;     
    color: #000;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
    transition: transform 0.3s ease; 
}

.product-btn:hover {
    transform: scale(1.05); 
}

    /* дизвйн для карточки\
    */
    .product-img {
        width: 200px;
        height: 200px; 
        object-fit: cover; 
        margin-bottom: 15px;
        border-radius: 15px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    }

        .price {
            font-size: 1.2rem;
            font-weight: bold;
            color: #00ff88;
            margin: 10px 0;
        }

        .product-card h3 {
            margin: 10px 0;
            color: #fff;
        }

        .product-card p {
            font-size: 0.9rem;
            color: #bdc3c7;
        }

        /*  корзина */
.cart-status {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.cart-status:hover {
    transform: scale(1.1); /* чтобы увеличиить на 10% */
}

.cart-icon {
    width: 30px; 
    height: 30px;
    filter: invert(72%) sepia(85%) saturate(1000%) hue-rotate(105deg) brightness(100%) contrast(105%); 

}

#cart-count {
    font-size: 1.2rem;
    color: #00ff88;

}


/*Код оформлен через функции 1 балл
На странице есть обрабатываемые поля для ввода текста 1 балл #username-input
Состав страницы меняется динамически 1 балл
Минимум три элемента с обработчиками событий (1 балл)
1)поле поиска
2)Индивидуальные обработчики на кнопках каждой созданной карточки  
3) Обработчик загрузки контента DOMContentLoaded
Элементы страницы изменяют свой внешний вид 1 балл корзина